.hero{
  padding-top: 200px;
  padding-bottom: 355px;
  background-image: url("../../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    max-width: 600px;
  }

  &__btns {
    .btn {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
